.searchButton {
    position: fixed;
    top: 49px;
    right: 272px;
    color: white;
    height: 42px;
    width: 70px;
    text-align: center;
    font-weight: bold;
    background-color: black;
}