
.toggle-button {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.open .bar {
  background-color: white;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -500px;
  width: 450px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
  z-index: 99;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial Arial, Helvetica, sans-serif;
  padding-right: 100px;
}

.sidebar.open {
  left: 0;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.sidebar-menu li {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background-color: #555;
}
